@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.title {
  text-align: center;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

section {
  display: flex;
}

.swiper {
  height: 800px;
}

.swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;
}
.swiper-wrapper,
.swiper-slide {
  transition-timing-function: linear !important;
}

.col-3 {
  flex-grow: 1;
}

.flip-direction {
  transform: rotate(180deg);
}

.flip-direction img {
  transform: rotate(180deg);
}

p {
  text-align: center;
}

@media (max-width: 990px) {
  .swiper:has(.first-column) {
    width: 0px;
  }
}

@media (max-width: 500px) {
  .swiper:has(.second-column) {
    width: 0px;
  }
}
